body{
  background-color: black;
  max-width: 550px;
  margin: 0 auto;
}

p{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  font-size: 14px;
}

.main-container {
  height: auto; /* full viewport height */
  margin: 0 auto;
  background-image: url('images/main.jpg');
  background-size: cover;         /* ensures it fills the container */
  background-position: center;    /* keeps the image centered */
  background-repeat: no-repeat;   /* avoids tiling */
  background-attachment: scroll;
}


.glass-container {
  background: rgba(255, 255, 255, 0.12);
  border-radius: 20px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  
}

.hero-header {
  background-image: url('images/header-back.jpeg'); 
  background-size: cover;         /* ensures it fills the container */
  background-position: center;    /* keeps the image centered */
  background-repeat: no-repeat;   /* avoids tiling */
  background-attachment: fixed;   /* optional: creates parallax effect */
  padding: 60px 20px 20px 20px;
  position: relative;
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
}

.hero-header::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
}

.hero-header h1,
.hero-header p {
  z-index: 1;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;;
}

.recent-photos img {
  width: 41px;
  height: 41px;
  object-fit: cover; 
}


img {
  transition: transform 0.3s ease;
}

img:hover,
img:active {
  transform: scale(1.05);
}


.btn {
  background: #000000;
  font-size: 20px;
}



.contact-buttons-container {
  background: rgba(255, 255, 255, 0.12);
  border-radius: 20px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  margin-top: 30px;
  box-sizing: border-box;

}
